.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    flex-direction: column;
}

.text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: .5rem;
}

.artList {
    display: flex;
    flex-flow: row wrap;
}

.nyt-li {
    height: 50vh;
    width: 100%;
    flex: 1 1 100%;
    background-size: cover;
    position: relative;
    @include tablet {
        flex: 1 1 50%;
    }
        
    @include desktop {
        flex: 1 1 25%;
    }
}

.loader {
    position: relative;
    top: 50%;
    left: 43%;
    height: 200px;
    width: 200px;
}


// @media screen and (min-width: 1000px) {
    
//     .container {
//         flex-direction: row;
//         flex-wrap: none;
//     }


//     .nyt-li {
//         flex: 1 1 25%;
//     }


// }