.footer-txt {
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}